*{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
body,html{
	font-family: 'Lato', sans-serif;
	width:100%;	
}
.clear{
	zoom:1;
}
.clear:after{
	content: '';
	display: block;
	clear:both;
}
/*title*/
#title{
	text-align: center;
}

/*search bar*/
#s-bar{
	width:500px;
	margin:0 auto;
}
#s-bar input,#s-bar a{
	font-size: 20px;
	font-weight: bold;
	padding:5px;
	
}
#text-input{
	border:3px solid #1BA7F8;
	border-radius: 5px;
	background: none;
}
#s-btn{
	padding:5px;
	background: #1BA7F8;
	color:#fff;
	border:1px solid #1BA7F8;
	border-radius: 5px;
	cursor: pointer;
}
#ranBtn{
	display: inline-block;
	padding:5px;
	background: #1BA7F8;
	color:#fff;
	border:1px solid #1BA7F8;
	border-radius: 5px;
}
/*result area*/
#container{
	opacity: 0;
	width:1000px;
	margin:0 auto;
	border:3px solid #1BA7F8;
	border-radius: 10px;
	margin-top:50px;
	margin-bottom:50px;
}
#container #result{
	margin:15px;
}
#result li{
	margin-bottom: 20px;
	
}
#result a{
	font-size: 30px;
	font-family: 'Georgia',sans-serif;
	font-weight: bold;
	color:#5909FA;
}
#result a:hover{
	border-bottom: 3px solid #1BA7F8;
}
#result li p{
	font-size: 20px;
	text-indent: 2em;
	font-family: "Verdana",sans-serif;

}
#container #more{
	float: right;
	padding:5px;
	margin:0 5px 5px 0;
	background: #1BA7F8;
	color:#fff;
	border:1px solid #1BA7F8;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
}
footer{
	width:100%;
	text-align: center;
	position: fixed;
	bottom: 0px;

}
#copy-right{
	background: #E6F5F6;
}
#copy-right span{
	color:#0584B3;
	font-size: 15px;
	font-family: "Verdana",sans-serif;
}